<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food menu</title>
</head>
<body>
    <p>共有 {{ foods|length }} 道菜</p>
    {% for f_item in foods %}
        <h3>第 {{ forloop.counter }} 道食物</h3>
        <ul>
            <li>食物名稱 : {{ f_item.name }}</li>
            <li>食物價格 : {{ f_item.price }}</li>
            <li>食物說明 : {{ f_item.comment }}</li>
{#            <li>食物會辣 : {{ f_item.is_spicy }}</li>#}
            <li>食物會辣 : {% if f_item.is_spicy %} 會辣 {% else %} 不辣 {% endif %}</li>
        </ul>
    {% empty %}
        <p> 沒賣食物!</p>

    {% endfor %}
</body>
</html>